body
{
    background-image: url("fondo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    margin: 0;
}
.lista
{
    text-align: justify;
}
.cuerpo
{
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white; /* Para que el texto sea legible sobre el fondo negro */
    padding: 20px; /* Espaciado interior del div */
    text-align: center; /* Para centrar el texto dentro del div */
    font-family: Arial, sans-serif; /* Para elegir un tipo de letra específico */
}
.cuerpo2
{
    border-radius: 50px;
    background-color: rgba(250, 9, 9, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
a:any-link
{
    color:white
}
audio{
    display: none;
}